body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-size: 13px;
}

header {
    background-color: black;
    color: white;
    height: 70px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 18px;
    margin: 100px;

}

.h1-afisha{
    font-family: 'EB Garamond', serif;
    color: #191919;
    font-size: 34px;

}
.afisha{
    margin: 120px;
    display: flex;
    align-items: center;

}
.img-afisha{
    margin-inline-end: 20px;
    margin-left: 877px;
}

.container-2{
    margin: 120px;
    max-width: 1270px;
    padding: 20px;
    background-color: #DCDCDC;
    border-radius: 10px;
}

.all-events {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.event-card-2{
    display: flex;
    align-items: center;
    overflow: hidden;

}

.event-date-2{
    background-color: #DCDCDC;
    text-align: center;
    padding: 20px;
    width: 80px;
}

.event-date-2 .day {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #777777;
    font-weight: bold;
}

.event-date-2 .month {
    font-family: 'EB Garamond', serif;
    font-size: 26px;
    font-weight: bold;
    color: #777777;
    text-transform: uppercase;
}

.event-details {
    display: flex;
    flex: 1;
    padding: 20px;
}

.event-image {
    width: 320px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.event-info {
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.event-info h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.event-info p {
    margin: 0 0 10px;
    color: #555;
}

.event-meta span {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    color: #777;
}

.event-action {
    padding: 20px;
}

.buy-ticket {
    font-family: 'EB Garamond', serif;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.buy-ticket:hover {
    background-color: #218838;
}
.event-img-card {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}

.event-img-card span {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color: #555;
}
.event-info h2{
    font-family: 'EB Garamond', serif;
    font-size: 40px;
}
.event-info p {
    font-size: 20px;
}